#root {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 5px;
  background-color: #f5f5f5;
}


.App {
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.city {
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}


ul {
  list-style-type: none;
  padding: 0;
}


li {
  background: #f0f0f0;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}


button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 250px;
  min-width: 260px;
  z-index: 1000;
}

.genre-chart-wrapper {
  margin: 1rem;
  padding: 0;
}

.charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  .charts-container {
    grid-template-columns: 1fr;
    padding: 0px;
    gap: 0px;
  }

  .genre-chart-wrapper {
    padding: 0px;
    margin: 0px;
  }
}